<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .flex-element {
      display: flex;
      flex-direction: row;
    }
    .flex-element1 {
      background-color: lightblue;
      width: 200px;
    }
    .flex-element2 {
      background-color: lightpink;
      width: 75px;
    }
  </style>
</head>
<body>
  <div class="flex-element">
    <div class="flex-element1">200px</div>
    <div class="flex-element2">75px</div>
  </div>
</body>
</html>