<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-width: 1px;
      border-style: solid;
      border-color: gray;
      height: 100px;
    }
    .item {
      background-color: lightpink;
    }
  </style>
</head>
<body>
  <div class="items">
    <div class="item">item1</div>
    <div class="item">item2</div>
  </div>
</body>
</html>