
    .amazon-heading {
        font-weight: bold;
        font-size: 20px;
        margin-top: 25px;
    }
    .stock-details {
        font-weight: bold;
        color: rgb(0,118,0);
    }
    .amz-link{
        color: rgb(0,113,133);
        transition: 0.15s;
    }
    .amz-link:hover{
        color: red;
    }
    .amazon-addtocart {
        height: 30px;
        width: 120px;
        border-radius: 15px;
        background-color: rgb(255,216,20);
        border: none;
        margin-right: 10px;
        cursor: pointer;
        transition: opacity 0.15s, background-color 0.15s;
    }
    .amazon-addtocart:hover{
        background-color: rgb(137, 115, 6);
    }
    .amazon-addtocart:active{
        opacity: 0.4;
    }
    .amazon-buynow {
        height: 30px;
        width: 120px;
        border-radius: 15px;
        background-color: rgb(255,164,28);
        border: none;
        cursor: pointer;
        transition: background-color 0.15s, opacity 0.15s;
    }
    .amazon-buynow:hover{
        background-color: rgb(168, 116, 39);
    }
    .amazon-buynow:active{
        opacity: 0.4;
    }
