    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .font-5a {
        font-family: tahoma;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .font-5b {
        font-family: arial;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 4px;
    }
    .font-5b-description {
        font-family: arial;
        font-style: italic;
        margin-bottom: 20px;
        color: red;
    }
    .font-5c-title {
        font-family: verdana;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .font-5c-title-description {
        font-family: verdana;
        color: rgb(96, 96, 96);
        margin-bottom: 24px;
    }
    .font-5c-description {
        font-family: verdana;
        width: 300px;
        margin-bottom: 15px;
    }
    .font-5c-button {
        background-color: green;
        font-family: verdana;
        color: white;
        padding: 10px 23px 10px 23px;
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .font-5d-title {
        font-family: arial;
        text-align: center;
        margin-bottom: 30px;
        line-height: 15px;
        font-weight: bold;
        font-size: 30px;
    }
    .font-5d-title-description {
        font-family: arial;
        text-align: center;
        line-height: 15px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .font-5d-shop-link {
        font-family: arial;
        text-align: center;
        line-height: 15px;
        font-size: 20px;
        margin-bottom: 30px;
        color: blue;
        cursor: pointer;
    }
    .font-5d-shop-link:hover {
        text-decoration: underline;
    }
    .font-5e-title1 {
        font-family: arial;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: orangered;
        margin-bottom: 12px;
    }
    .font-5e-title2 {
        font-family: arial;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .font-5e-title3 {
        font-family: arial;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .font-5e-title3-description {
        font-family: arial;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .font-5e-button {
        background-color: blue;
        color: white;
        padding: 7px 15px 7px 15px;
        border-radius: 30px;
        text-align: center;
        font-weight: bold;
        font-family: arial;
        cursor: pointer;
        margin-left: 222px;
        margin-bottom: 30px;
    }
  
