<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      height: 3000px;
    }
    .shirt-image {
      width: 100px;
      height: 100px;
      position: relative;
    }
    .offer-tag {
      position: absolute;
      background-color: black;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="mens-shirt">
    <img src="../../../assets/img/shirt-image.avif" class="shirt-image">
    <div class="offer-tag">20% OFF</div>
  </div>
</body>
</html>