<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>7e HTML</title>
  <style>
    .google-search-bar {
      font-size: 13px;
      padding: 12px 15px 12px 15px;
      width: 300px;
      border-radius: 30px;
      border: none;
      box-shadow: 0px 1px 2px 2px rgb(0,0,0,0.25);
      margin-top: 20px;
      margin-left: 20px;
    }

  </style>
</head>
<body>
  <input type="text" placeholder="Search Google or type a URL" class="google-search-bar">
</body>
</html>