<!DOCTYPE html>
<html>
    <head>
        <title>Text Style Excercises</title>
        <link rel="stylesheet" href="../../assets/css/text_style_excercises.css">
    </head>
    <body>
        <p class="font-5a">
            This is Tahoma Font
        </p>
        
        <p class="font-5b">
            Biggest Deals of the Year!
        </p>
        <p class="font-5b-description">
            Sales end Tuesday
        </p>
        <p class="font-5c-title">
           HTML CSS Course
        </p>
        <p class="font-5c-title-description">
            Beginner to pro
        </p>
        <p class="font-5c-description">
            In this course, we'll learn the skills you need to become a developer
        </p>
        <button class="font-5c-button">
            Get Started
        </button>
        <p class="font-5d-title">
            Shopping for your business ?
        </p>
        <p class="font-5d-title-description">
            See how Apple at Work can help.
        </p>
        <p class="font-5d-shop-link">
            <span>Learn more &gt;</span>
        </p>
        <p class="font-5e-title1">
            New
        </p>
        <p class="font-5e-title2">
            MacBook Pro
        </p>
        <p class="font-5e-title3">
            SuperCharged for Pros.
        </p>
        <p class="font-5e-title3-description">
            From &#36; 1999
        </p>
        
        <p >
            <span class="font-5e-button">Buy</span>
        </p>
    </body>
</html>





