<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html{
      text-align: center;
    }
    .google-logo {
      vertical-align: middle;
      margin-top: 200px;
    }
    .search-bar {
      display: block;
      
    }
  </style>
</head>
<body>
  <img class="google-logo" src="../../../assets/img/Google_logo.png">
<input class="search-bar" type="text" placeholder="Search">
</body>
</html>