<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .youtube-element {
      background-color: rgb(33, 33, 33);
      color: white;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      font-family: sans-serif;
      width: 350px;
    }
    .title {
      font-size: 25px;
      font-weight: bold;
    }
  .title-description {
    color: rgb(160, 160, 160);
  }
  </style>
</head>
<body>
  <div class="youtube-element">
    <p class="title">Install Youtube Music</p>
    <p class="title-description">Add Youtube Music to your desktop for quick and easy access</p>
  </div>
</body>
</html>