<!DOCTYPE html>
<html>
    <head>
        <title>Text Style Excercise 1</title>
        <link rel="stylesheet" href="../../assets/css/text_style_ex1.css">
    </head>
    <body>
        <p class="font-5f-dollar">
            1,049.61 <span class="font-5f-dollar-notation">USD</span>
        </p>
        <p >
            <span class="font-5f-stocks">+18.05 (1.75%) today</span>
        </p>
        <p >
            <span class="font-5f-report">After Hours 1,048.00</span>
            <span class="font-5f-report-stocks">-1.61 (0.15%)</span>
        </p>
    </body>
</html>



