<!DOCTYPE html>
<html>
    <head>
        <title>
            Box Model Excercise
        </title>
        <link rel="stylesheet" href="../../assets/css/box_model_style.css">
    </head>
    <body>
        <button class="button-pagination">Back</button>
        <a href="#" target="_blank">1</a>
        <a href="#" target="_blank">2</a>
        <a href="#" target="_blank">3</a>
        <a href="#" target="_blank">4</a>
        <a href="#" target="_blank">5</a>
        <button class="button-pagination">Next</button>
        
        
        
        <button class="stretch-button">Stretch</button>
        
        
        
        <button class="three-d-click">Shadow</button>
        
        <button class="hover-buttons">One</button>
        <button class="hover-buttons">Two</button>
        <button class="hover-buttons">Three</button>
    </body>
</html>



